@media (min-width: 320px){
    nav{
        height: 15vh;
        background: rgba(230, 230, 230, 0.4);
        box-shadow: 0px 0px 1px rgb(121, 120, 120);
    }

    .headerContainer{
        display: flex;
        padding-top: 1em;
    }

    .logoContainer{
        flex: 55%;
    }

    .logo{
        font-size:1.5rem;
        font-family: 'Major Mono Display', monospace;
        color: white;
        text-align: center;
        padding-left: 4em;
    }

    .cart{
        max-height: 400px;
        overflow: scroll;
    }

    .cartContainer{
        z-index: 1;
        position: absolute;
    }
    
    .cartIcon, .searchIcon, .userCogIcon{
        font-size: 1rem;
        color: white;
        margin: 1em 0.5em 1em 1em;
        flex: 15%;
    }

    .totalAmount{
        text-align: center;
        color: white;
        text-decoration: underline;
        background-color: rgb(48, 48, 48);
        height: 25px;
        width: 25px;
        border-radius: 10%;
    }

    .closeCartIcon{
        color: white;
        z-index: 1;
    }

    .totalAmount{
        display: inline-block;
    }
    
    .showCart{
        display: block;
        margin: 0 1em;
        padding: 1em;
        height: auto;
        width: 270px;
        background-color: rgba(40, 41, 41, 0.9);
        z-index: 1;
    }
    
    .hideCart{
        display: none;
    }

    .cartTitle, .cartContent, .totalSum{
        font-family: 'Roboto', sans-serif;
        color: whitesmoke;
        font-weight: 300;
        font-size: 0.9rem;
        margin-bottom: 0;
    }

    .cartTitle{
        font-size: 1.5em;
    }

    .cartContent:last-child{
        margin-bottom: 1em;
    }

    .add{
        padding: 0 1em;
    }

    .checkoutButtonContainer{
        text-align: right;
    }

    .add:hover, .subtract:hover, .cartIcon:hover, .searchIcon:hover, .userCogIcon:hover, .logo:hover, .closeCartIcon:hover{
        cursor: pointer;
    }
    
    .searchIcon:hover, .userCogIcon:hover, .cartIcon:hover, .add:hover, .subtract:hover, .closeCartIcon:hover{
        color: rgb(43, 155, 224);
    }

    .logo:hover{
        text-decoration: underline;
        text-decoration-color: rgb(43, 155, 224);
    }

}

@media (min-width: 400px){

    .cartIcon, .searchIcon, .userCogIcon{
        font-size: 1.2rem;
    }

    .logo{
        font-size:2rem;
    }
    
}

@media (min-width: 576px){

    .cartIcon, .searchIcon, .userCogIcon{
        font-size: 1.5rem;
    }

}

@media (min-width: 768px){

    .cartIcon, .searchIcon, .userCogIcon{
        font-size: 1.8rem;
    }

    .logo{
        font-size: 2.5rem;
    }

}

@media (min-width: 992px){

    .cartIcon, .searchIcon, .userCogIcon{
        font-size: 2rem;
    }

    .logo{
        font-size: 3rem;
    }

}