footer{
    height: 100px;
    background: rgb(27, 27, 27);
    width: 100%;
}

.footerText{
    font-family: 'Roboto', sans-serif;
    color: rgb(182, 182, 182);
    font-weight: 300;
    font-size: 0.9rem;
    text-align: center;
    padding-top: 3em;
    margin-top: 2em;
}