footer{
    height: 10vh;
    background: rgb(27, 27, 27);
}

.footerText{
    font-family: 'Roboto', sans-serif;
    color: rgb(182, 182, 182);
    font-weight: 300;
    font-size: 0.9rem;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
}