@media (min-width: 320px){
    .container-fluid{
        margin: 7em auto;
    }

    .confirmedTitle, .confirmedText, .goBackText, .returnHomeContainer{
        color: white;
        text-align: center;
    }

    .confirmedTitle, .goBackText{
        font-family: 'Major Mono Display', monospace;
    }

    .confirmedText{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 1em;
    }

    .checkCircle{
        display: block;
        text-align: center;
        font-size: 6em;
        margin: 1.5em 0 0.5em 0;
        color: green;
    }

    .goBackHome{
        margin: 1.5em 0 0.5em 0;
        color: white;
        font-size: 3em;
    }

    .goBackHome:hover{
        color: rgb(43, 155, 224);
        cursor: pointer;
    }

    .goBackText:hover{
        text-decoration-color: rgb(43, 155, 224);
    }

}

@media (min-width: 400px){
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px){
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px){

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px){

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){

}