<main role="main" class="container-fluid">

    <i class="far fa-check-circle checkCircle"></i>
    <h2 class="confirmedTitle">Thank you for your order!</h2>
    <h3 class="confirmedText"><i>It has been placed and you will soon recieve a confirmation email.</i></h3>

    <div class="returnHomeContainer">

        <a routerLink="">
            <i class="fas fa-chevron-left goBackHome"></i>
        </a>

        <a routerLink="">
            <p class="goBackText">Go back to home page</p>
        </a>
        
    </div>

</main>