<main role="main" class="container-fluid">

    <i class="fas fa-exclamation-triangle errorTriangle"></i>
    <h2 class="notFoundTitle">Page not found</h2>
    <h3 class="notFoundText"><i>Unfortunatelly, the page you are looking for is currently unavaliable</i></h3>

    <div class="returnHomeContainer">

        <a routerLink="">
            <i class="fas fa-chevron-left goBackHome"></i>
        </a>

        <a routerLink="">
            <p class="goBackText">Go back to home page</p>
        </a>
        
    </div>

</main>