 @media (min-width: 320px){
    *{
        margin: 0 auto;
    }
    
    .container-fluid{
        padding: 0;
    }
    
    .moviesTopic{
        font-family: 'Major Mono Display', monospace;
        color: white;
        display: inline;
        border-bottom: 1px solid whitesmoke;
        margin-left: 2em;
    }
    
    .arrowsSideScroll{
        color: white;
        font-size: 2em;
    }
    
    .sideScrollContainer{
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 0 1em 1em 1em;
        width: 95%;
    }

    .heroImage{
        height: 100vh;
        background-image: url('./../../assets/images/outsidemovies.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        margin-bottom: 2em;
    }

    .arrowOnHeroImage{
        position: absolute;
        top: 90%;
        left: 45%;
        color: white;
        font-size: 2.5rem;
        animation-name: bouncingArrow;
        animation-duration: 0.8s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        position: relative;
        animation-direction: alternate;
    }
    
    @keyframes bouncingArrow{
        0%{top: 85%;}
        100%{top: 82%;}
    }
}

@media (min-width: 576px){
}

@media (min-width: 768px){

}

@media (min-width: 992px){
    
}

@media (min-width: 1200px){

}