<div class="container-fluid">

  <div class="heroImage">
      <a href="#bouncingArrow"><i class="fas fa-chevron-down arrowOnHeroImage" id="bouncingArrow"></i></a>
  </div>

  <!-- Gör om h2 - i till en egen komponent, input decorator category id, 
  Samma komponent, app-category-movies [action] ngFor -->

  <h2 class="moviesTopic">All movies:</h2>
    <!-- <i class="arrowsSideScroll fas fa-chevron-left"></i> -->
      <div class="sideScrollContainer">
        <app-productpresentation *ngFor="let movie of movies" [movie]="movie" class="moviesContainer col-6 col-md-4 col-lg-3"></app-productpresentation>
      </div>
    <!-- <i class="arrowsSideScroll fas fa-chevron-right"></i> -->

  <h2 class="moviesTopic">Action:</h2>
    <!-- <i class="arrowsSideScroll fas fa-chevron-left"></i> -->
      <div class="sideScrollContainer">
        <app-productpresentation *ngFor="let movie of movies" [movie]="movie" class="moviesContainer col-6 col-md-4 col-lg-3"></app-productpresentation>
      </div>
    <!-- <i class="arrowsSideScroll fas fa-chevron-right"></i> -->

  <h2 class="moviesTopic">Thriller:</h2>
    <!-- <i class="arrowsSideScroll fas fa-chevron-left"></i> -->
      <div class="sideScrollContainer">
        <app-productpresentation *ngFor="let movie of movies" [movie]="movie" class="moviesContainer col-6 col-md-4 col-lg-3"></app-productpresentation>
      </div>
    <!-- <i class="arrowsSideScroll fas fa-chevron-right"></i> -->

  <h2 class="moviesTopic">Comedy:</h2>
    <!-- <i class="arrowsSideScroll fas fa-chevron-left"></i> -->
      <div class="sideScrollContainer">
        <app-productpresentation *ngFor="let movie of movies" [movie]="movie" class="moviesContainer col-6 col-md-4 col-lg-3"></app-productpresentation>
      </div>
    <!-- <i class="arrowsSideScroll fas fa-chevron-right"></i> -->

  <h2 class="moviesTopic">Sci-Fi:</h2>
    <!-- <i class="arrowsSideScroll fas fa-chevron-left"></i> -->
      <div class="sideScrollContainer">
        <app-productpresentation *ngFor="let movie of movies" [movie]="movie" class="moviesContainer col-6 col-md-4 col-lg-3"></app-productpresentation>
      </div>
    <!-- <i class="arrowsSideScroll fas fa-chevron-right"></i> -->



</div>