<div class="orderContainer">
  <h2 class="ordersTopic">Orders:</h2>

  <div *ngFor="let order of orders" class="singleOrder">
    <p class="orderInformation">Order id: {{ order.id }}</p>
    <p class="orderInformation">Created by: {{ order.createdBy }}</p>
    <p class="orderInformation">Total price: {{ order.totalPrice }}:-</p>
    <p class="orderInformation">Payment method: {{ order.paymentMethod }}</p>
    <p class="orderInformation">Created: {{ order.created }}</p>
    <p class="orderInformation">CompanyId: {{ order.companyId }}</p>

    <p class="orderInformation">Movie ids ordered:</p>
    <div *ngFor="let orderRow of order.orderRows" class="movieIds">
      {{ orderRow.productId }}
    </div>
    <hr>
  </div>
  
</div>

<!-- <th *ngFor="let order of orders">
    <tr>
      <p class="orderInformation">Id: {{ order.id }}, CompanyId: {{ order.companyId}} Created by: {{ order.createdBy }}, Created: {{ order.created }}, Total price:
        {{ order.totalPrice}} </p>
      <p *ngFor="let orderRow of order.orderRows">
        Product ID: {{ orderRow.productId }}
      </p>
    </tr>
  </th> -->