<div class="container-fluid text-center">

  <h2 class="cartHeading">Cart:</h2>

  <div *ngFor="let singleMovie of cart">
    <p class="cartContent">Movie: {{singleMovie.movie.name}}</p>
    <p class="cartContent">
      Amount: {{singleMovie.amount}} pcs
      <i class="add fas fa-plus" (click)="addMovie(singleMovie.movie)"></i>
      <i class="subtract fas fa-minus" (click)="deleteMovie(singleMovie.movie.id)"></i>
      </p>
    <p class="cartContent">Total: {{singleMovie.totalPrice}}:-, {{singleMovie.movie.price}}:-/each.</p>
    <hr>
  </div>

  <section>
    <form #formDir="ngForm" (ngSubmit)="postOrder()" [formGroup]="orderForm">
      <label class="formContent" for="email">Email</label>
      <input name="email" type="text" formControlName="emailAddress">

      <div *ngIf="orderForm.get('emailAddress').invalid && (orderForm.get('emailAddress').dirty || orderForm.get('emailAddress').touched || formDir.submitted)">

        <div *ngIf="orderForm.get('emailAddress').errors.required">
          <p class="errorMessage">You have to enter your email address.</p>
        </div>

        <div *ngIf="orderForm.get('emailAddress').errors.email">
          <p class="errorMessage">You have to enter a valid email address.</p>
        </div>

      </div><br>

      <label class="formContent" for="paymentMethod">Payment options</label>

      <i class="paymentIcon fab fa-cc-visa"></i>
        <i class="paymentIcon fab fa-cc-mastercard"></i>
        <i class="paymentIcon fab fa-cc-amex"></i>
        <i class="paymentIcon fab fa-cc-paypal"></i>
        <br>

      <select class="paymentMethod" formControlName="paymentMethod">
        <option selected="selected" value="">Betalningsmetod:</option>
        <option value="card">Card</option>
        <option value="paypal">PayPal</option>
      </select>

      <div *ngIf="orderForm.get('paymentMethod').invalid && formDir.submitted">
        <div *ngIf="orderForm.get('paymentMethod').errors.required">
          <p class="errorMessage">Du måste välja betalningsmetod</p>
        </div>
      </div><br>

      <button class="finishOrderBtn" type="submit">Slutför ditt köp</button>

    </form>
  </section>

</div>