/* You can add global styles to this file, and also import other style files */

@media (min-width: 320px){
    body{
        /* background-color: rgb(24, 24, 24); */
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)), url(/assets/images/outsidemovies.jpg);
        color: white;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
    
    p, h1, h2, h3{
        color: red;
    }
}

@media (min-width: 400px){
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px){
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px){

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px){

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){

}